:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-lighter-cyan: hsl(179, 62%, 45%);
  --primary-bright-yellow: hsl(71, 73%, 54%);
  --primary-bright-yellow-hover: hsl(71, 73%, 65%);

  --neutral-light-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);
  --neutral-darker-shade-gray: hsla(0, 0%, 100%, 0.8);
  --neutral-background-gray: hsl(206, 47%, 93%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  background-color: var(--neutral-background-gray);
}

h1 {
  color: var(--primary-cyan);
  font-size: 1.25em;
}

h2 {
  color: var(--primary-bright-yellow);
  font-size: 1em;
}

h3 {
  color: var(--neutral-white);
  font-weight: 400;
  font-size: 1em;
}

p {
  color: var(--neutral-grayish-blue);
  font-size: 0.95em;
  margin-bottom: 2em;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}

li {
  font-size: 0.8em;
  color: var(--neutral-light-gray);
  line-height: 1.6;
  font-weight: 400;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "first-section  first-section"
    "second-section third-section";
  margin: 7em auto 0.75em;
  max-width: 600px;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.first-section {
  background-color: var(--neutral-white);
  padding: 1.5em 2.5em;
  grid-area: first-section;
}

.second-section {
  background-color: var(--primary-cyan);
  padding: 1.5em 2.5em;
  grid-area: second-section;
}

.second-section p {
  color: var(--neutral-white);
  font-size: 0.85em;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.subscription-price {
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 2em;
}

.per-month {
  color: var(--neutral-light-gray);
  letter-spacing: 0.1em;
  vertical-align: super;
  padding: 0.4em;
  font-size: 0.85em;
  font-weight: 400;
}

.signup-button {
  padding: 0.85em;
  border-radius: 0.25em;
  background: var(--primary-bright-yellow);
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.signup-button {
  color: var(--neutral-white);
  display: block;
}

.signup-button:hover {
  background-color: var(--primary-bright-yellow-hover);
}

.third-section {
  background-color: var(--primary-lighter-cyan);
  padding: 1.5em 2.5em;
  grid-area: third-section;
}

.attribution {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: 0.75em;
}

@media screen and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "first-section"
      "second-section"
      "third-section";
    margin: 5em auto;
    border-radius: 0.75em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.75em;
  }
}
